@use "../abstracts/" as *;

.text-xl {
    font-size: 2.778rem;
    text-transform: uppercase;
    letter-spacing: 0.333rem;
    font-weight: $fw-600;
    margin-bottom: 1.111rem;
}

.text-lg {
    font-size: 2.222rem;
    text-transform: uppercase;
    margin-bottom: 1.111rem;
}

.text-md {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.text-sm {
    font-size: 1.056rem;
    margin-bottom: 20px;
}

@media (max-width:60em){
    .text-xl {
        font-size: 1.667rem;
    }
    
    .text-lg {
        font-size: 1.389rem;
    }
    
    .text-md {
        font-size: 1.056rem;
    }
    
}