.box-content{
    max-width: 31.25rem;
    text-align: center;
    justify-self: center;
    padding: 1.25rem 0;
    margin: 0 auto;

    .btn-light-outline{
        margin: 1.25rem 0;
    }
}


.box-f{
    .box-content{
        max-width: 400px;
    }
}
