@use "sass:map";
@use "../abstracts/" as*;

.grid-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    align-items: center;
    justify-content: space-between;

    @media(max-width:map.get($breakpoints,"medium")){
        grid-template-columns: 1fr;
    }
}

.grid-reverse :first-child {
    order: 2;

    
    @media(max-width:map.get($breakpoints,"medium")){
        order: 0;
    }
}

