@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,600;1,400&family=Open+Sans:wght@400;600;700&display=swap');

// Font Stack
$ff-open:'Open Sans', sans-serif;

// Font Weight
$fw-300:300;
$fw-400:400;
$fw-600:600;
$fw-700:700;

// body font family
$ff-body:$ff-open;